@font-face {
    font-family: 'iconfont';  /* project id 1364550 */
    src: url('//at.alicdn.com/t/font_1364550_ddt1vwuq1p.eot');
    src: url('//at.alicdn.com/t/font_1364550_ddt1vwuq1p.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1364550_ddt1vwuq1p.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1364550_ddt1vwuq1p.woff') format('woff'),
    url('//at.alicdn.com/t/font_1364550_ddt1vwuq1p.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1364550_ddt1vwuq1p.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:40upx;
    font-style:normal;
    color: #cccccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ddx-shop-time:before {
    content: "\e65f";
}

.icon-ddx-shop-down:before {
    content: "\e610";
}

.icon-ddx-shop-up:before {
    content: "\e611";
}

.icon-ddx-shop-xuanze:before {
    content: "\e627";
}

.icon-ddx-shop-share:before {
    content: "\e626";
}

.icon-ddx-shop-del:before {
    content: "\e6ac";
}

.icon-ddx-shop-anonymous-iconfont:before {
    content: "\e601";
}

.icon-ddx-shop-daishouhuo:before {
    content: "\e622";
}

.icon-ddx-shop-setting:before {
    content: "\e64e";
}

.icon-ddx-shop-hot:before {
    content: "\e619";
}

.icon-ddx-shop-close:before {
    content: "\e658";
}

.icon-ddx-shop-more:before {
    content: "\e71f";
}

.icon-ddx-shop-daichengtuan:before {
    content: "\e60b";
}

.icon-ddx-shop-wechat:before {
    content: "\e634";
}

.icon-ddx-shop-more-:before {
    content: "\e612";
}

.icon-ddx-shop-bofanganniu:before {
    content: "\e613";
}

.icon-ddx-shop-location:before {
    content: "\e7cc";
}

.icon-ddx-shop-daifukuan:before {
    content: "\e66a";
}

.icon-ddx-shop-circle:before {
    content: "\e7ec";
}

.icon-ddx-shop-shopping:before {
    content: "\e62c";
}

.icon-ddx-shop-content_arrows:before {
    content: "\e603";
}

.icon-ddx-shop-shopping-cart-o:before {
    content: "\e600";
}

.icon-ddx-shop-daifahuo1:before {
    content: "\e602";
}

.icon-ddx-shop-daipingjia:before {
    content: "\e655";
}
