@font-face {
    font-family: 'iconfont';  /* project id 1364550 */
    src: url('//at.alicdn.com/t/font_1364550_auvh1fig5s.eot');
    src: url('//at.alicdn.com/t/font_1364550_auvh1fig5s.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1364550_auvh1fig5s.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1364550_auvh1fig5s.woff') format('woff'),
    url('//at.alicdn.com/t/font_1364550_auvh1fig5s.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1364550_auvh1fig5s.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:40upx;
    font-style:normal;
    color: #cccccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ddx-shop-time:before {
    content: "\e65f";
}

.icon-ddx-shop-down:before {
    content: "\e610";
}

.icon-ddx-shop-up:before {
    content: "\e611";
}

.icon-ddx-shop-xuanze:before {
    content: "\e627";
}

.icon-ddx-shop-shopping-cart-o:before {
    content: "\e646";
}

.icon-ddx-shop-share:before {
    content: "\e626";
}

.icon-ddx-shop-del:before {
    content: "\e6ac";
}

.icon-ddx-shop-icon_notice:before {
    content: "\e605";
}

.icon-ddx-shop-anonymous-iconfont:before {
    content: "\e601";
}

.icon-ddx-shop-setting:before {
    content: "\e64e";
}

.icon-ddx-shop-hot:before {
    content: "\e619";
}

.icon-ddx-shop-pingjia-:before {
    content: "\e8f5";
}

.icon-ddx-shop-shopping:before {
    content: "\e604";
}

.icon-ddx-shop-close:before {
    content: "\e658";
}

.icon-ddx-shop-tubiaozhizuomoban:before {
    content: "\e614";
}

.icon-ddx-shop-jinyong:before {
    content: "\e650";
}

.icon-ddx-shop-bianji:before {
    content: "\e640";
}

.icon-ddx-shop-wechat:before {
    content: "\e634";
}

.icon-ddx-shop-location:before {
    content: "\e7cc";
}

.icon-ddx-shop-circle:before {
    content: "\e7ec";
}

.icon-ddx-shop-content_arrows:before {
    content: "\e603";
}

.icon-ddx-shop-tick:before {
    content: "\e633";
}

