@font-face {
    font-family: 'iconfont';  /* project id 1364550 */
    src: url('//at.alicdn.com/t/font_1364550_u8xog0d347.eot');
    src: url('//at.alicdn.com/t/font_1364550_u8xog0d347.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1364550_u8xog0d347.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1364550_u8xog0d347.woff') format('woff'),
    url('//at.alicdn.com/t/font_1364550_u8xog0d347.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1364550_u8xog0d347.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:40upx;
    font-style:normal;
    color: #cccccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ddx-shop-time:before {
    content: "\e65f";
}

.icon-ddx-shop-check:before {
    content: "\e615";
}

.icon-ddx-shop-down:before {
    content: "\e610";
}

.icon-ddx-shop-up:before {
    content: "\e611";
}

.icon-ddx-shop-xuanze:before {
    content: "\e627";
}

.icon-ddx-shop-shopping-cart-o:before {
    content: "\e646";
}

.icon-ddx-shop-share:before {
    content: "\e626";
}

.icon-ddx-shop-del:before {
    content: "\e6ac";
}

.icon-ddx-shop-yaoqingma:before {
    content: "\e683";
}

.icon-ddx-shop-anonymous-iconfont:before {
    content: "\e601";
}

.icon-ddx-shop-daishouhuo:before {
    content: "\e622";
}

.icon-ddx-shop-daifahuo1:before {
    content: "\e616";
}

.icon-ddx-shop-setting:before {
    content: "\e64e";
}

.icon-ddx-shop-hot:before {
    content: "\e619";
}

.icon-ddx-shop-tick:before {
    content: "\e606";
}

.icon-ddx-shop-pengyouquan:before {
    content: "\e633";
}

.icon-ddx-shop-pingjia-:before {
    content: "\e8f5";
}

.icon-ddx-shop-shopping:before {
    content: "\e604";
}

.icon-ddx-shop-close:before {
    content: "\e658";
}

.icon-ddx-shop-tubiaozhizuomoban:before {
    content: "\e614";
}

.icon-ddx-shop-jinyong:before {
    content: "\e650";
}

.icon-ddx-shop-laba:before {
    content: "\e6b8";
}

.icon-ddx-shop-more:before {
    content: "\e71f";
}

.icon-ddx-shop-daichengtuan:before {
    content: "\e60b";
}

.icon-ddx-shop-wechat:before {
    content: "\e634";
}

.icon-ddx-shop-more-:before {
    content: "\e612";
}

.icon-ddx-shop-bofanganniu:before {
    content: "\e613";
}

.icon-ddx-shop-location:before {
    content: "\e7cc";
}

.icon-ddx-shop-daifukuan:before {
    content: "\e66a";
}

.icon-ddx-shop-circle:before {
    content: "\e7ec";
}

.icon-ddx-shop-content_arrows:before {
    content: "\e603";
}

.icon-ddx-shop-daipingjia:before {
    content: "\e655";
}

.icon-ddx-shop-gouwuche1:before {
    content: "\e605";
}

