.section{
  background: #ffffff;
  font-size: $uni-font-size-base;
  padding:$uni-spacing-col-base $uni-spacing-row-base;
  margin-bottom: 26upx;
  width: 100%;
  display: flex;
  .left{
    .img{
      width:186upx;
      height:186upx;
      border-radius:4upx;
    }
    margin-right: 30upx;
  }
  .right{
    color: $color-primary-plain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title{
      @extend %overflow-2-line;
      margin-bottom: 22upx;
    }
    .other{
      color: #808080;
      font-size: $uni-font-size-sm;
    }

  }
}
.section2{
  background: #ffffff;
  color: $color-primary-plain;
  font-size: $uni-font-size-base;
  padding: 0  $uni-spacing-row-base;
  margin-bottom: 26upx;
  display: flex;
  flex-direction: column;
  .chooses-why{
    padding: 30upx 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    @extend %border-color-solid-botton;
    &:last-child{
      border: none;
    }
  }
  .chooses-why2{
    padding: 30upx 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %border-color-solid-botton;
    &:last-child{
      border: none;
    }
    .chooses-ba{
      color: #808080;
    }
    .iconfont{
      margin-left: 20upx;
      font-size: $uni-font-size-base;
    }
  }
}
.section3{
  background: #ffffff;
  font-size: $uni-font-size-base;
  margin-bottom: 26upx;
  width: 100%;
  .title{
    padding:$uni-spacing-col-base $uni-spacing-row-base;
  }
  .bottom{
    width: 100%;
    .text{
      height:200upx;
      width: 100%;
      background: #fff;
      color: $color-primary-plain;
      font-size: $uni-font-size-base;
      padding:$uni-spacing-row-base;
    }
    .imgs{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: $uni-spacing-row-base;
      .up-img{
        width:136upx;
        height:136upx;
        border-radius:4upx;
        margin: 40upx 20upx;
        border:1px dashed #D2D2D2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: $uni-font-size-base;
        align-items: center;
        color: #AAAAAA;
        .iconfont{
          font-size: $uni-font-size-lg;
          color: #AAAAAA;
        }
      }
      .img-show{
        width:136upx;
        height:136upx;
        border-radius:4upx;
        margin: 40upx 20upx;
        position: relative;
        image{
          width:136upx;
          height:136upx;
          border-radius:4upx;
        }
        .close{
          color: $color-primary;
          position: absolute;
          top: -30upx;
          right: -30upx;
        }
      }
    }

  }
}
.my-submit{
  color: #ffffff;
  font-size: $uni-font-size-lg;
  background: $color-primary;
  text-align: center;
  width: 100%;
  height: 98upx;
  line-height: 98upx;
}
.section-status{
  background: #ffffff;
  color: #808080;
  font-size: $uni-font-size-base;
  padding: 0  $uni-spacing-row-base;
  margin-bottom: 26upx;
  display: flex;
  flex-direction: column;
  view{
    padding: 12upx 0;
  }
}
